$test: blue;

.topSection {
    height: 100vh;

}

.tete {
    background-repeat: no-repeat;
    background-size: 100vh !important;
    background-position: left top 370px !important;
}

.content {
    display: flex;
    align-items: center !important;
    justify-content: end;
    position: absolute;
    height: 150vh !important;
    width: 80vw;
  }
  
  .content span.img-txt {
    background-color: rgb(125, 86, 37);
    text-transform: uppercase;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
    letter-spacing: 10px;
    border-radius: 5px;
  }