$midSection: #003844;

.middleSection {
  height: calc(100vh + 60px);
  background: $midSection;
  margin-top: -50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subIntro {
  padding: 20px;
  width: 35%;
  background-color: rgba(222, 184, 135, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
}

#fullBars {
  display: flex;
  justify-content: center;
}

.divBarRight, .divBarLeft {
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 200px;
}

.divBarRight {
  float: right;
}

.barAndLogo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.showLogo {
  width: 30px;
  height: 30px;
  margin-top: 13px;
  margin-right: 10px;
  visibility: hidden;
  opacity: 0;

  &.visible {
    visibility: visible;
    transition: 2s;
    opacity: 1;
  }
  
}
// === progress bar ===

@keyframes slideInFromTop {
  from {
    transform: translateY(-250%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(250%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.progress-bar {
  width: 70%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 50px;
  margin: 20px 0;
  background-color: rgba(0, 56, 68, 0.7);
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);


}

.progress-bar__filler {
  height: 100%;
  //background-image: linear-gradient(to right, #ff69b4, #bbbb4a, #87cefa);
  background-image: linear-gradient(to right, #006C67, #F4C095, #20A4F3);
  border-radius: inherit;
  transition: width 2s ease-in-out;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);

}

