$firstColor: rgb(115, 205, 238);;

header {
    position: fixed;
    top: 0;
    height: 50px;
    z-index: 100;
    width: 100%;

    background-color: rgba(0, 0, 0, 0);
    box-shadow: black 0 0 12px -5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    text-transform: uppercase;
    color: whitesmoke;

    &.header-is-not-visible {
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -o-transform: translateY(-50px);
        transform: translateY(-50px);

        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
    }

    &.header-is-visible {
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;    
    }
}

.header-list {
    display: flex;
    width: 45%;
    height: 100%;

    & > li {
        list-style-type: none;
        width: 100%;
        height: 100%;

        -webkit-transition: 0.2s ease-in-out;
            -moz-transition: 0.2s ease-in-out;
            -o-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
  
        & a {
            text-decoration: none;
            color: whitesmoke;
            width: 100%;
            height: 100%;
            
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        &:hover {
            box-shadow: black 0 0 12px -5px;
            background-color: rgba(115, 205, 238, 0.3);
            font-size: large;
            letter-spacing: 6px;

            -webkit-transition: 0.2s ease-in-out;
            -moz-transition: 0.2s ease-in-out;
            -o-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
        }
    }
}

/******** TRANSLATIONS ********/
.translation-buttons {
    margin-left: 3vw;

    & > button {
        cursor: pointer;
        background: none;
        border: none;
        margin: 0 10px;

        &:active {
            transform: scale(0.9);
        }

        & img {
            width: 40px;
        }
    }
}

/******** MEDIA QUERIES ********/

$mobile: 430px;
$tablet: 768px;
$desktop: 1024px;
$large-screen: 1440px;

@media screen and (max-width: $mobile) {
    .header-list {
        width: 100%;
        padding: 0;

        & > li {
            font-size: 0.5rem;

            &:active {
                background-color: $firstColor;
                
                -webkit-transition: 0;
                -moz-transition: 0;
                -o-transition: 0;
                transition: 0;
            }
        }
    }
}

@media screen and (min-width: ($mobile + 1)) and (max-width: $tablet) {

}

@media screen and (min-width: ($tablet + 1)) and (max-width: $desktop) {

}

@media screen and (min-width: ($desktop + 1)) and (max-width: $large-screen) {

}