$bgColorSkillsSection: #1F252D;
$firstColor: #239fcc;
$secondColor: rgb(22, 27, 33);

.skills-section {
    position: relative;
    background: $bgColorSkillsSection;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.53);;
    z-index: 1;

    
}

.sub-intro {
    box-sizing: border-box;
    text-align: justify;

    padding: 20px;
    width: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(22, 27, 33, 0.5);
    opacity: 0;
    border: 1px solid $secondColor;
    color: whitesmoke;
    font-size: 1.5em;

    & > span {
        display: block;
        text-align: center;
    }

    &.visible {
        animation: slideInFromTopInFirst 0.8s ease-out forwards;
    }
}

.skills-title {
    width: 100%;
    color: whitesmoke;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 2vh;
    opacity: 0;

    &.visible {
        animation: slideInFromTop 1s ease-out forwards;
        animation-delay: 1s;
    }


    & h3 {
        padding: 0;
        margin: 0;
        text-align: center;
        white-space: nowrap;
    }

    & > div {
        border-top: solid 1px whitesmoke;
        background-color: antiquewhite;
        width: 20vw;
        margin: 0px 20px;
    }
}

.all-bars {
    max-width: 70%;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;

    & > div {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 10px;
        width: 65vw;

        &:nth-child(1) > button.visible {
            animation: slideInFromTop 1s ease-out forwards;
            animation-delay: 1.8s;
        }
        
        &:nth-child(2) > button.visible {
            animation: slideInFromTop 1s ease-out forwards;
            animation-delay: 2.4s;
        }

        &:nth-child(3) > button.visible {
            animation: slideInFromTop 1s ease-out forwards;
            animation-delay: 3s;
        }

        & > button {
            text-transform: uppercase;
            letter-spacing: 0.05rem;
            font-weight: 700;
            font-size: 1.5rem;
            border-radius: 0.5rem;
            overflow: hidden;
            background: whitesmoke;
            pointer-events: auto;
            cursor: pointer;
            border: none;
            padding: 1.5rem 3rem;
            font-family: inherit;
            position: relative;
            box-shadow: 0 0 7px rgba(0, 0, 0, 1);
            color: white;
            width: 50%;
            margin: auto ;
            margin-bottom: 30px;
            margin-top: 30px;


            &:hover {
                box-shadow: 0 0 3px rgb(255, 255, 255);
            }
            
            &.is-clicked {
                color: black;
    
                &::before {
                    transform: translate3d(100%, 0, 0);
                    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.8);
                }
            }
        
            &::before {
                position: absolute;
                top: 0;
                height: 100%;
                content: '';
                background: $firstColor;
                width: 120%;
                left: -10%;
                transform: skew(30deg);
                transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
                box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.8);
            }
    
            & > span {
                position: relative;
            }    
        }
    }
}


.bar-and-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;

    &.visible:nth-child(1) {
        animation: slideInFromTop 0.2s ease forwards;
    }

    &.visible:nth-child(2) {
        animation: slideInFromTop 0.3s ease forwards;
    }

    &.visible:nth-child(3) {
        animation: slideInFromTop 0.4s ease forwards;
    }

    &.visible:nth-child(4) {
        animation: slideInFromTop 0.5s ease forwards;
    }

    &.visible:nth-child(5) {
        animation: slideInFromTop 0.6s ease forwards;
    }

    &.visible:nth-child(6) {
        animation: slideInFromTop 0.7s ease forwards;
    }
}

.skills-logo {
    width: 30px;
    height: 30px;
    margin-top: 13px;
    margin-right: 10px;

}

/******** PROGRESS BAR ********/

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 50px;
    margin: 20px 0;
    background-color: $bgColorSkillsSection;
    box-shadow: 0 0 10px 1px #ffffff34;

}

.progress-bar__filler {
    height: 100%;
    background-color: $firstColor;
    background-image: linear-gradient(to right, #85c7e1, #20A4F3);
    border-radius: inherit;
    transition: width 2s ease-in-out;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.242);;

}

@-webkit-keyframes slideInFromTop {
    from {
        transform: translateY(-250%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@-moz-keyframes slideInFromTop {
    from {
        transform: translateY(-250%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@-o-keyframes slideInFromTop {
    from {
        transform: translateY(-250%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-250%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}


@keyframes slideInFromTopInFirst {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}


/******** MEDIA QUERIES ********/

$mobile: 430px;
$tablet: 768px;
$desktop: 1024px;
$large-screen: 1440px;

@media screen and (max-width: $mobile), (max-height: 800px) {
    .skills-section {
        height: auto;
        padding: 20px 0px;
    }

    .sub-intro {
        text-align: center;
        width: 90vw;
        font-size: 0.9rem;
        margin-top: 0;
    }


    .all-bars {
        flex-direction: column;
        flex: 0;
        width: 95vw;
        max-width: 95vw;

        & > div {
            padding: 0;
            width: 100%;
            flex: 0;
            min-height: 0;

            & > button {
                width: 90%;
                font-size: 1rem;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            &:nth-child(1) > button.visible {
                animation: slideInFromTop 1s ease-out forwards;
                animation-delay: 1.8s;
            }
            
            &:nth-child(2) > button.visible {
                animation: slideInFromTop 1s ease-out forwards;
                animation-delay: 2.4s;
            }

            &:nth-child(3) > button.visible {
                animation: slideInFromTop 1s ease-out forwards;
                animation-delay: 3s;
            }
        }
 
    }

    .progress-bar {
        width: 80%;

    }

    .skills-title {
        font-size: 0.8rem;
      
        & h3 {
            padding: 0;
            margin: 0;
        }
    }

    .show-logo {
        animation: slideInFromTop 0.2s ease-out forwards;
    }

}

@media screen and (min-width: ($mobile + 1)) and (max-width: $tablet) {

}

@media screen and (min-width: ($tablet + 1)) and (max-width: $desktop) {

}

@media screen and (min-width: ($desktop + 1)) and (max-width: $large-screen) {

}