$bgColorSkillsSection: #003844;

.skills-section {
    height: calc(100vh + 60px);
    background: $bgColorSkillsSection;
    margin-top: -50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-intro {
    box-sizing: border-box;
    text-align: justify;

    padding: 20px;
    width: 600px;
    background-color: rgba(222, 184, 135, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
    margin: 40px 0;
    opacity: 0;

    &.visible {
        animation: slideInFromTopInFirst 0.8s ease-out forwards;
    }
}

.skills-title {
    width: 100%;
    color: whitesmoke;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 2vh;
    opacity: 0;

    &.visible {
        animation: slideInFromTop 1s ease-out forwards;
        animation-delay: 1s;
    }


    & h3 {
        padding: 0;
        margin: 0;
        text-align: center;
        white-space: nowrap;
    }

    & > div {
        border-top: solid 1px whitesmoke;
        background-color: antiquewhite;
        width: 20vw;
        margin: 0px 20px;
    }
}

.all-bars {
    max-width: 70%;
    display: inline-flex;
    flex-wrap: wrap;
    overflow: hidden;
    flex: 1;

    & > div {
        display: flex;
        flex-direction: column;
        min-height: 300px;
        max-height: 400px;
        box-sizing: border-box;
        width: 35vw;
        flex: 1;
        height: auto;
        padding: 20px;

        &:first-child {
            flex-basis: 100%;
        }

        & > button {
            text-transform: uppercase;
            letter-spacing: 0.05rem;
            font-weight: 700;
            font-size: 1rem;
            border-radius: 0.5rem;
            overflow: hidden;
            background: whitesmoke;
            pointer-events: auto;
            cursor: pointer;
            border: none;
            padding: 1.5rem 3rem;
            margin: 10px;
            font-family: inherit;
            position: relative;
            box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.6);
            color: white;
            opacity: 0;
            
            &.is-clicked {
                color: black;
    
                &::before {
                    transform: translate3d(100%,0,0);
                    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.8);
                }
            }
        
            &::before {
                position: absolute;
                top: 0;
                height: 100%;
                content: '';
                background: burlywood;
                width: 120%;
                left: -10%;
                transform: skew(30deg);
                transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
                box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.8);
            }
    
            & > span {
                position: relative;
            }    
        }
    }
}


.bar-and-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    visibility: hidden;

    &.visible {
        visibility: visible;
    }
}

.show-logo {
    width: 30px;
    height: 30px;
    margin-top: 13px;
    margin-right: 10px;
    visibility: hidden;
    opacity: 0;

    &.visible {
        visibility: visible;
        transition: 2s;
        opacity: 1;
    }
}

/******** PROGRESS BAR ********/

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 50px;
    margin: 20px 0;
    background-color: rgba(0, 56, 68, 0.7);
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    opacity: 0;

    &.visible {
        animation: slideInFromTop 1s ease-out forwards;
        animation-delay: 1.8s;
    }
}

.progress-bar__filler {
    height: 100%;
    background-image: linear-gradient(to right, #006C67, #F4C095, #20A4F3);
    border-radius: inherit;
    transition: width 2s ease-in-out;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);

}

@-webkit-keyframes slideInFromTop {
    from {
        transform: translateY(-250%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@-moz-keyframes slideInFromTop {
    from {
        transform: translateY(-250%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@-o-keyframes slideInFromTop {
    from {
        transform: translateY(-250%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-250%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}


@keyframes slideInFromTopInFirst {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}


/******** MEDIA QUERIES ********/

$mobile: 430px;
$tablet: 768px;
$desktop: 1024px;
$large-screen: 1440px;

@media screen and (max-width: $mobile), (max-height: 800px) {
    .skills-section {
        height: auto;
        padding: 20px 0px;
    }

    .sub-intro {
        text-align: center;
        width: 90vw;
        font-size: 1rem;
        margin-top: 0;
    }

    .all-bars {
        flex-direction: column;
        flex: 0;
        width: 95vw;
        max-width: 95vw;

        & > div {
            padding: 0;
            width: 100%;
            flex: 0;
            min-height: 0;

            &:first-child {
                flex-basis: 0%;
            }

            &:nth-child(1) > button.visible {
                animation: slideInFromTop 1s ease-out forwards;
                animation-delay: 1.8s;
            }
            
            &:nth-child(2) > button.visible {
                animation: slideInFromTop 1s ease-out forwards;
                animation-delay: 2.4s;
            }

            &:nth-child(3) > button.visible {
                animation: slideInFromTop 1s ease-out forwards;
                animation-delay: 3s;
            }
        }

        
    }


    .progress-bar {
        width: 80%;

        &.visible {
            animation: slideInFromTop 0.2s ease-out forwards;
            animation-delay: 0s;
        }
    }

    .skills-title {
        font-size: 1rem;
      
        & h3 {
            padding: 0;
            margin: 0;
        }
    }

    .show-logo {
        animation: slideInFromTop 0.2s ease-out forwards;
    }

}

@media screen and (min-width: ($mobile + 1)) and (max-width: $tablet) {

}

@media screen and (min-width: ($tablet + 1)) and (max-width: $desktop) {

}

@media screen and (min-width: ($desktop + 1)) and (max-width: $large-screen) {

}