$bgColorSkillsSection: #1F252D;
$firstColor: #239fcc;
$secondColor: rgb(22, 27, 33);

.skills-section {
    position: relative;
    background: $bgColorSkillsSection;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.53);;
    z-index: 1;

    
}

.sub-intro {
    box-sizing: border-box;
    text-align: center;

    padding: 20px;
    width: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(22, 27, 33, 0.5);
    opacity: 0;
    border: 1px solid $secondColor;
    color: whitesmoke;
    font-size: 1.5em;

    & > span {
        display: block;
        text-align: center;
    }

    &.visible {
        transition: opacity 1s ease;
        -moz-transition: opacity 2s ease;
        opacity: 1;
    }

    > div {
        border-top: solid 1px $firstColor;
        max-width: 30%;
        margin: 10px auto;
    }
}

.skills-title {
    width: 100%;
    color: whitesmoke;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 2vh;
    opacity: 0;

    &.visible {
        animation: rotateTitle 1s ease-out forwards;
    }


    & h3 {
        padding: 0;
        margin: 0;
        text-align: center;
        white-space: nowrap;
    }

    & > div {
        border-top: solid 1px whitesmoke;
        background-color: antiquewhite;
        width: 20vw;
        margin: 0px 20px;
    }
}

.all-bars {
    max-width: 70%;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;

    & > div {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 10px;
        width: 65vw;
        max-height: 150px;

        &.button-clicked {
            -webkit-transition: max-height 0.7s; 
            -moz-transition: max-height 0.7s; 
            -ms-transition: max-height 0.7s; 
            -o-transition: max-height 0.7s; 
            transition: max-height 0.7s;  

            overflow: hidden;
            max-height: 600px;

        }

        &:nth-child(even) > button.visible {
            animation: slideInFromRight 0.5s ease-in forwards;
        }
        
        &:nth-child(odd) > button.visible {
            animation: slideInFromLeft 0.5s ease-in forwards;
        }


        & > button {
            text-transform: uppercase;
            letter-spacing: 0.05rem;
            font-weight: 700;
            font-size: 1.5rem;
            border-radius: 0.5rem;
            overflow: hidden;
            background: whitesmoke;
            pointer-events: auto;
            cursor: pointer;
            border: none;
            padding: 1.5rem;
            font-family: inherit;
            position: relative;
            box-shadow: 0 0 7px rgba(0, 0, 0, 1);
            color: white;
            width: 50%;
            min-height: 100px;
            margin: 0px auto 20px auto;
            opacity: 0;

            &:hover {
                box-shadow: 0 0 3px rgb(255, 255, 255);
            }
            
            &.is-clicked {
                color: black;
    
                &::before {
                    transform: translate3d(100%, 0, 0);
                    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.8);
                }
            }
        
            &::before {
                position: absolute;
                top: 0;
                height: 100%;
                content: '';
                background: $firstColor;
                width: 120%;
                left: -10%;
                transform: skew(30deg);
                transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
                box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.8);
            }
    
            & > span {
                position: relative;
            }    
        }
    }
}

.bar-and-logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;

}

.skills-logo {
    height: 30px;
    margin-top: 13px;

}

/******** PROGRESS BAR ********/

.progress-bar {
    width: 93%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 50px;
    margin: 20px 0;
    background-color: $bgColorSkillsSection;
    box-shadow: 0 0 10px 1px #ffffff34;

}

.progress-bar__filler {
    height: 100%;
    background-color: $firstColor;
    background-image: linear-gradient(to right, #85c7e1, #20A4F3);
    border-radius: inherit;
    transition: width 2s ease-in-out;
    box-shadow: inset 0 0 3px rgb(0, 0, 0);;

}


@-webkit-keyframes rotateTitle {
    0% {
      transform: rotateX(180deg);
      opacity: 0;
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
}


@-moz-keyframes rotateTitle {
    0% {
      transform: rotateX(180deg);
      opacity: 0;
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
}


@-o-keyframes rotateTitle {
    0% {
      transform: rotateX(180deg);
      opacity: 0;
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
}

@keyframes rotateTitle {
    0% {
      transform: rotateX(180deg);
      opacity: 0;
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
}

@-webkit-keyframes slideInFromRight {
    from {
        transform: translateY(5%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@-moz-keyframes slideInFromRight {
    from {
        transform: translateY(5%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@-o-keyframes slideInFromRight {
    from {
        transform: translateY(5%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(5%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@-webkit-keyframes slideInFromLeft {
    from {
        transform: translateY(-5%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@-moz-keyframes slideInFromLeft {
    from {
        transform: translateY(-5%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@-o-keyframes slideInFromLeft {
    from {
        transform: translateY(-5%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-5%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

/******** MEDIA QUERIES ********/

$mobile: 430px;
$tablet: 768px;
$desktop: 1024px;
$large-screen: 1440px;

@media screen and (max-width: $mobile), (max-height: 800px) {
    .skills-section {
        height: auto;
        padding: 20px 0px;
    }

    .sub-intro {
        text-align: center;
        width: 90vw;
        font-size: 0.9rem;
        margin-top: 0;
    }


    .all-bars {
        flex-direction: column;
        flex: 0;
        width: 95vw;
        max-width: 95vw;

        & > div {
            padding: 0;
            width: 100%;
            flex: 0;
            min-height: 0;

            & > button {
                width: 90%;
                font-size: 1rem;
                margin-top: 5px;
                margin-bottom: 5px;
                min-height: 70px;
            }
        } 
    }

    .progress-bar {
        width: 80%;

    }

    .skills-title {
        font-size: 0.8rem;
      
        & h3 {
            padding: 0;
            margin: 0;
        }
    }


}

@media screen and (min-width: ($mobile + 1)) and (max-width: $tablet) {

}

@media screen and (min-width: ($tablet + 1)) and (max-width: $desktop) {

}

@media screen and (min-width: ($desktop + 1)) and (max-width: $large-screen) {

}