.secondMidSection {
    height: calc(100vh + 60px);
    color: #ac2b2b;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content2midSec {
  width: 100vw;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
  
.cards {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}

.cardsTitle {
  height: 30%;
  width: 100%;
  color: whitesmoke;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;

  & h3 {
    padding: 0;
    margin: 0;
  }
}

.line {
  border-top: solid 1px whitesmoke;
  background-color: antiquewhite;
  width: 200px;
  margin: 0px 20px;
}

.navLogo {
  width: 30px;
  transition: transform 0.2s ease-in-out;
  padding: 10px;
}
.navigation {:root {
  --viewport-width: 0;
}
}

figure {
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  width: 350px;
  height: 200px;

  & h3 {
    margin: 0;
  }
}

figure > * {
  grid-area: 1/1;
  transition: .2s;
}

.figureImg {
  width: 350px;
  height: 200px;
}

figure figcaption {
  display: grid;
  align-items: start;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #0000;
  padding: 10px;
  background: var(--c,#0009);
  clip-path: inset(0 0 var(--_i, 100%) 0);

  mask:
    linear-gradient(#000 0 0),
    linear-gradient(#000 0 0);
  mask-composite: xor;

  & p {
    font-size: 1rem;
    padding: 10px;
    margin: 0;
  }
}

figure:hover figcaption{
  --_i: -1%;

  & .navLogo {
    filter: invert(16%) sepia(91%) saturate(2184%) hue-rotate(344deg) brightness(103%) contrast(87%);
    
    &:hover {
      transform: scale(1.5) translateY(5px);
      transition: 0.2s ease-in-out;
    }
  }
}

figure:hover img {
  transform: scale(1.2);
}

@supports not (mask-clip: text) {
  figure figcaption {
    mask: none;
    color: #fff;
  }
}

$mobile: 430px;
$tablet: 768px;
$desktop: 1024px;
$large-screen: 1440px;

@media screen and (max-width: $mobile) {
  .content2midSec {
    margin-top: 0;
  }

  .cardsTitle {
    font-size: 1rem;
  
    & h3 {
      padding: 0;
      margin: 0;
    }

    & .line {
      width: 10%;
    }
  }

  .figureImg {
    max-width: 260px;
    max-height: 150px;

  }

  figure figcaption {
    max-width: 260px;
    max-height: 150px;
    font-size: 1rem;

    & p {
      font-size: .7rem;
    }
  }

  figure {
    max-width: 260px;
    max-height: 150px;

  }

  .navLogo {
    max-width: 20px;
  }
}

@media screen and (min-width: ($mobile + 1)) and (max-width: $tablet) {
  .element {
    width: 50%;
  }
}

@media screen and (min-width: ($tablet + 1)) and (max-width: $desktop) {
  .element {
    width: 33.33%;
  }
}

@media screen and (min-width: ($desktop + 1)) and (max-width: $large-screen) {
  .element {
    width: 25%;
  }
}