$bgColorTop: #55A4E9;
$colorText: darkblue;

.top-section {
    position: relative;
    top: -50px;
    height: 100vh;
    background-color: $bgColorTop;
}

.my-head {
    background-repeat: no-repeat;
    opacity: 0.9;
    background-size: 100vh !important;
    background-position: left top 370px !important;

}

.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    height: 100%;
    width: 55vw;
  }

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/******** INTRO PART ********/
@function longshadow($num,$color: white){
    $shadow: '';
    $i: 0;

    @for $i from 1 through $num{
        $shadow: $shadow + (1 * $i) + 'px' + ' ' + (1 * ($i * 2)) + 'px' + ' ' + $color;

        @if $i < $num {
            $shadow: $shadow + ', ';
        }
    }

    @return unquote($shadow);
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

.welcome {
    width: 100%;
    display: flex;
    flex-direction: column;

    p {
        margin: 0 auto;
        color: white;
        font: 700 normal calc(0.5rem + 3vw)/1.5 'Montserrat',sans-serif;
        text-shadow: longshadow(8, $colorText);
        margin: 0;
        padding: 0;
    }
}

$mobile: 430px;
$tablet: 768px;
$desktop: 1024px;
$large-screen: 1440px;

@media screen and (max-width: $mobile) {
    .intro-content {
        float: none;
        margin: 0 auto;
        width: 95vw;
    }
    
    .welcome {
        display: flex;
        
        & > p {
            font: 700 normal 2rem/1.5 'Montserrat',sans-serif;
            margin: 10px 0px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        & > p:nth-child(3) {
            height: 100px;
            width: 350px;
        }
    }
}

@media screen and (min-width: ($mobile + 1)) and (max-width: $tablet) {

}

@media screen and (min-width: ($tablet + 1)) and (max-width: $desktop) {

}

@media screen and (min-width: ($desktop + 1)) and (max-width: $large-screen) {

}