$bgColorTop: #55A4E9;
$colorText: rgb(40, 177, 111);
$firstColor: rgb(40, 208, 126);


.top-section {
    position: relative;
    top: -50px;
    height: 100vh;
    background-color: $bgColorTop;

    & > div:nth-child(1) {
      background-color: $firstColor;
      position: absolute;
      top: 10%;
      left: 5%;
      z-index: 1;
      padding: 5px;
      font-size: large;
      border-radius: 5px;
    }
}

.my-head {
    background-repeat: no-repeat;
    background-size: 96vh !important;
    background-position: left top 400px !important;

}

.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    height: 100%;
    width: 60vw;
}

  
/******** INTRO PART ********/
@function longshadow($num,$color: white){
    $shadow: '';
    $i: 0;

    @for $i from 1 through $num{
        $shadow: $shadow + (1 * $i) + 'px' + ' ' + (1 * ($i * 2)) + 'px' + ' ' + $color;

        @if $i < $num {
            $shadow: $shadow + ', ';
        }
    }

    @return unquote($shadow);
}


.welcome {
    width: 100%;
    display: flex;
    flex-direction: column;

    & > p {
        margin: 0 auto;
        color: white;
        font: 700 normal calc(0.1rem + 2vw)/1.5 'Montserrat Thin Black',sans-serif;
        text-shadow: longshadow(7, $colorText);
        letter-spacing: -1px;
        margin: 0;
        padding: 0;

        &:nth-child(2) {
          font: 700 normal calc(0.5rem + 3vw)/1.5 'Montserrat Thin Black',sans-serif;

        }

        &:nth-child(3) {
          font: 700 normal calc(0.5rem + 3vw)/1.5 'Montserrat Thin Black',sans-serif;

        }
    }
}

/******** SCROLL ARROW ********/

.scroll-arrow-top {
    position: absolute;
    top: 90vh;
    left: 49%;
    height: 60px;
    width: 60px;
  

    & span {
        position: absolute;
        top: -10px;
        left: 30%;
        width: 30px;
        height: 30px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;

        -webkit-animation: top-arrow 1.5s infinite;
        animation: top-arrow 1.5s infinite;
        box-sizing: border-box;
    }
}

@-webkit-keyframes top-arrow {
    0% {
      -webkit-transform: rotate(-45deg) translate(-20, -20);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
}
  
@-moz-keyframes top-arrow {
    0% {
      -webkit-transform: rotate(-45deg) translate(-20, -20);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
}

@-o-keyframes top-arrow {
    0% {
      -webkit-transform: rotate(-45deg) translate(-20, -20);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
}

@keyframes top-arrow {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
}


/******** MEDIA QUERIES ********/

$mobile: 430px;
$tablet: 768px;
$desktop: 1024px;
$large-screen: 1440px;

@media screen and (max-width: $mobile) {
    .intro-content {
        float: none;
        margin: 0 auto;
        width: 95vw;
    }
    
    .welcome {
        display: flex;
        
        & > p {
            font: 700 normal 2rem/1.5 'Montserrat',sans-serif;
            margin: 10px 0px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        & > p:nth-child(3) {
            height: 100px;
            width: 350px;
        }
    }

    .scroll-arrow-top {
        display: none;
    }
}

@media screen and (min-width: ($mobile + 1)) and (max-width: $tablet) {

}

@media screen and (min-width: ($tablet + 1)) and (max-width: $desktop) {

}

@media screen and (min-width: ($desktop + 1)) and (max-width: $large-screen) {

}