body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}





@keyframes zoomIn {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.1);
    }
  }

.app {
  transform-origin: center center;

}

    $color-background: #F9E4B7;
    $color-loader: #ce4233;
    
    
    .loader {
        width: 200vw;
        height: 200vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: $color-background;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;

        & > span {
        width: 250px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        position: absolute;
        z-index: 1000;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: helvetica, arial, sans-serif;
        text-transform: uppercase;
        font-weight: 900;
        color: $color-loader;
        letter-spacing: 0.2em;
        
        &::before, &::after {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            background: $color-loader;
            position: absolute;
            animation: load .7s infinite alternate ease-in-out;
        }
        
        &::before {
            top: 0;
        }
        
        &::after {
            bottom: 0;
        }
  }
        &.loaded {
          animation: zoomIn 3s ease-in-out forwards;
        }
    }
    
    @keyframes load {
        0% { left: 0; height: 30px; width: 15px }
        50% { height: 8px; width: 40px }
        100% { left: 235px; height: 30px; width: 15px}
    }