@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('./assets/fonts/poppins/Poppins-BlackItalic.woff2') format('woff2'),
         url('./assets/fonts/poppins/Poppins-BlackItalic.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Thin';
    src: url('./assets/fonts/montserrat/MontserratThin-Black.woff2') format('woff2'),
        url('./assets/fonts/montserrat/MontserratThin-Black.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Thin Black';
    src: url('./assets/fonts/montserrat2/MontserratThin-Black.woff2') format('woff2'),
        url('./assets/fonts/montserrat2/MontserratThin-Black.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

.warning {
    position: absolute;
    top: 35px;
    background-color: red;
    text-align: center;
    width: 100vw;
    padding: 5px;
    z-index: 10;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow: overlay;
    letter-spacing: 1.4px;
}

h1, h2, h3, li  {
    font-family: 'Montserrat Thin', 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    letter-spacing: 4px;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(190, 172, 172, 0.7);  
    -webkit-border-radius: 1ex;
}

::-o-scrollbar {
    width: 4px;
}

::-o-scrollbar-thumb {
    background-color: rgba(190, 172, 172, 0.7);  
    border-radius: 1ex;
}

.internal-link:hover {
    cursor: pointer;
}

/******** LOADER ********/

$color-loader-background: #0d1e36;
$color-loader: rgb(255, 255, 255);
$color-loader2: rgb(27, 157, 205);

.loader {

    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: $color-loader-background;
    position: fixed; 

    & > span {
        width: 275px;
        height: 50px;
        line-height: 50px;
        position: absolute;
        z-index: 1000;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        font-family: helvetica, arial, sans-serif;
        text-transform: uppercase;
        font-weight: 900;
        color: $color-loader;
        letter-spacing: 0.2em;
            
        &::before, &::after {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            background: $color-loader2;
            position: absolute;
            animation: load .7s infinite alternate ease-in-out;
        }
            
        &::before {
            top: 0;
        }
            
        &::after {
            bottom: 0;
        }
    }
    
    &.loaded {
        animation: zoomIn 0.8s ease-in-out forwards;
    }
    
    &.animationDone { 
        display: none;
    }
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 1;
        transform: scale(1);
        border-radius: 0%;
    }
    to {
        opacity: 1;
        transform: scale(0);
        border-radius: 100%;
    }
}

@-moz-keyframes zoomIn {
    from {
        opacity: 1;
        transform: scale(1);
        border-radius: 0%;
    }
    to {
        opacity: 1;
        transform: scale(0);
        border-radius: 100%;
    }
}

@-o-keyframes zoomIn {
    from {
        opacity: 1;
        transform: scale(1);
        border-radius: 0%;
    }
    to {
        opacity: 1;
        transform: scale(0);
        border-radius: 100%;
    }
}

@keyframes zoomIn {
    from {
        opacity: 1;
        transform: scale(1);
        border-radius: 0%;
    }
    to {
        opacity: 1;
        transform: scale(0);
        border-radius: 100%;
    }
}

@-webkit-keyframes load {
    0% { left: 0; height: 30px; width: 15px }
    50% { height: 8px; width: 40px }
    100% { left: 250px; height: 30px; width: 15px}    
}

@-moz-keyframes load {
    0% { left: 0; height: 30px; width: 15px }
    50% { height: 8px; width: 40px }
    100% { left: 250px; height: 30px; width: 15px}    
}

@-o-keyframes load {
    0% { left: 0; height: 30px; width: 15px }
    50% { height: 8px; width: 40px }
    100% { left: 250px; height: 30px; width: 15px}    
}

@keyframes load {
    0% { left: 0; height: 30px; width: 15px }
    50% { height: 8px; width: 40px }
    100% { left: 250px; height: 30px; width: 15px}    
}

/********* MODALS *********/

.modal {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 60px;
    margin-bottom: 30px;
    color: white;
    z-index: 20;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    
    &.show-modal {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.modal-content {
    background-color: rgb(177, 52, 52);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;

    -webkit-animation: slideIn 0.8s forwards;
    -moz-animation: slideIn 0.8s forwards;
    -o-animation: slideIn 0.8s forwards;
    animation: slideIn 0.8s forwards;

    &.valid {
        background-color: rgb(54, 138, 65);
    }

    &.already-submitted {
        background-color: orange;
    }
}

@-webkit-keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@-moz-keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@-o-keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/******** MEDIA QUERIES ********/

$mobile: 430px;
$tablet: 768px;
$desktop: 1024px;
$large-screen: 1440px;

@media only screen and (max-width: $mobile) {
    
    .modal {
        position: fixed;
        float: none;
        bottom: 0;
        right: 50%;
        width: 100%;
        max-height: 30vh;
        margin: auto;

        -webkit-transform: translate(50%);
        -moz-transform: translate(50%);
        -o-transform: translate(50%);
        transform: translate(50%);
    }

    .modal-content {
        font-size: 0.9rem;
        text-align: center;
        margin: 20px;
    }
}

@media screen and (min-width: ($mobile + 1)) and (max-width: $tablet) {

}

@media screen and (min-width: ($tablet + 1)) and (max-width: $desktop) {

}

@media screen and (min-width: ($desktop + 1)) and (max-width: $large-screen) {

}